<!DOCTYPE html>

{%autoescape true%}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="cssBoot/bootstrap.min.css" />
</head>
  <body>
    <div class="navbar navbar-inverse " style="height:70px;border-radius: 0;" role="navigation">
      <div class="container">
        <div class="navbar-header">
          
          <div class="navbar-brand" style="margin-left: -60px;font-size: xx-large;margin-top: 10px;">Connex.us</div>
        </div>
        <form class="navbar-form navbar-right" role="form">
    		<a href={{ url }} style="text-decoration:none; color:white; margin-top:10px;" class="btn btn-success">{{ url_linktext }}</a>
          </form>
      </div>
    </div>
	 <div class="navbar navbar-default" role="navigation" style="margin-top: -20px;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/manage">Manage</a></li>
              <li><a href="/create">Create</a></li>
              <li class = "active"><a href="/view">View</a></li>
              <li><a href="/search">Search</a></li>
	      <li><a href="/trending">Trending</a></li>
            </ul>
           
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

	<div class="jumbotron">
	<div style="margin-left: 15px;margin-top: -20px;font-size: 25px;">View All Streams</div>
	<div style="margin-left: 50px; height: {{(250*(streams|length)/4)+100}}px;">
	<br>
	<table style="margin-top: 2.4%; font-size: 15px;">
		{% set count = 0 %}
		<tr>
		{% for stream in streams %}
		 	<!-- put picture here -->
			
			<form action="/streamview" method="get" style="margin-top: 45px;">
				<figure style="float:left; margin-left:15px;">
				<input type="image" src="{{ stream.cover }}" title={{ stream.name }} width="200" height="200">
					<figcaption style = "text-align: center; background-color: #eee;position: relative; width:200px; ">{{stream.name}}</figcaption>
				</figure>
				<input type="hidden" name="stream_key" value={{ stream.key.urlsafe() }}> 
				
			</form>
			
			
			{% set count = count + 1 %}
			{% if count == 4 %}
				</tr><br><br><br><br><br><br><br><br><br><br><br><br><br><tr>
				{% set count = 0 %}
			{% endif %}
		{% endfor %}
		</tr>
 			
		
   	 </table>
	</div>
<br><br><br>
	</div>
	
	
  </body>
</html>

{% endautoescape %}
